<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginDisplay</servlet-name>
        <servlet-class>LoginDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginChat</servlet-name>
        <servlet-class>LoginChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatDisplay</servlet-name>
        <servlet-class>ChatDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chatServlet</servlet-name>
        <servlet-class>chatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterDisplay</servlet-name>
        <servlet-class>RegisterDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerChat</servlet-name>
        <servlet-class>registerChat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginDisplay</servlet-name>
        <url-pattern>/LoginDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginChat</servlet-name>
        <url-pattern>/loginChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatDisplay</servlet-name>
        <url-pattern>/ChatDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chatServlet</servlet-name>
        <url-pattern>/chatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterDisplay</servlet-name>
        <url-pattern>/RegisterDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerChat</servlet-name>
        <url-pattern>/registerChat</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
